html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: 'Cooper Hewitt';
  font-size: 18px;
  user-select: #6b48ff;
}

* {
  box-sizing: border-box;
}

::selection {
  color: #f2f4f6;
  background: #6b48ff;
}

a {
  /* color: #0070f3; */
  color: #6b48ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
