.headingSuper {
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 500;
}

.headingLg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 500;
  color: #6b48ff;
}

.headingMd {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
}

.textMd {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  color: #000;
}

.textSm {
  font-size: 1.145rem;
  line-height: 1.9;
  font-weight: 500;
  margin: 0;
}

.borderCircle {
  border-radius: 50%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.pt {
  padding-top: 6rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 2rem 0;
}

.lightText {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  font-weight: 500;
}

.container {
  margin: 5rem 0;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.bottomMargin {
  margin-bottom: 1.4rem;
  :last-child {
    margin-bottom: 0;
  }
}

.topMargin {
  margin-top: 2rem;
}
.leftMargin {
  margin-left: 0.5rem;
}

.center {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pointerEl {
  cursor: pointer;
}

.mdContent {
  font-size: 1.285rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    line-height: 2.2rem;
    margin: 2rem 0;
  }

  em {
    font-weight: 500;

    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  img {
    max-width: 450px;
  }

  ul,
  ol {
    :last-child {
      margin-bottom: 0rem;
    }
  }

  li {
    margin-bottom: 1rem;
  }

  a {
    color: #6b48ff;
  }

  blockquote {
    border-left: 10px solid #6b48ff;
    background-color: #d6e0f0;
    padding: 2rem;
    margin: 3rem 1.8rem;
    font-style: italic;
    border-radius: 5px;

    quotes: '\201C''\201D''\2018''\2019';
  }

  code,
  pre {
    font-family: monospace, monospace;
  }
}
